body {
    background: palevioletred;
    font-family: 'cursive', 'Arial', Arial, Helvetica, sans-serif;
    text-decoration-color: #FF4500;
}
img {
    width:28%;
}
.cabeza {
    text-align:center;
}

#game {
    text-align: center;
    text-decoration-color: #FF4500;
}

#bg {
    padding: 20px;
    font-family: cursive;
    color: rgb(61, 212, 223);
}
h1 {
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: green;
}

footer {
    color: green;
    padding: 30px;
    text-align: center;
}