body {
    background: purple;
    font-family: 'cursive', 'Arial', Arial, Helvetica, sans-serif;
}
img {
    width:28%;
}
.cabeza {
    text-align:center;
}

#game {
    text-align: center;
    text-decoration-color: #FF4500;
}

#bg {
    background: url('../images/morocco-blue.png');
    font-family: cursive;
    color: #FF4500;
}